*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw; 

}

.webgl
{
    position: sticky;
    top: 0;
    left: 0;
    outline: none;
}

/* Loading spinner for SVG export */
.svg-export-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #F7931A; /* Bitcoin orange */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}